
#intro {
  color: black;
  margin-top: 40px;
  background-color: rgb(217, 217, 217);
  width: 100%;
  text-align: center;
  overflow: auto;
}

.my-interests h1 {
  text-shadow: 0 0 10px rgba(0,0,0,0.9);
  color: white;
  text-decoration-line: underline;
  font-size: 120%;
  margin-left: 20px;
  text-transform: uppercase;
  text-align: center;
}

.interest-descriptions {
  margin-left: 20px;
  text-decoration-line: none;
  color: white;
  text-align: center;
}

.developer {
  position: relative;
  background-color: rgb(68,132,206);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.traveler {
  position: relative;
  min-height: 500px;
  background-image: url(../assets/images/hiking.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.sports {
  height: 400px;
  position: relative;
  background-image: url(../assets/images/beers.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
