
#intro {
  color: black;
  margin-top: 40px;
  background-color: rgb(217, 217, 217);
  width: 100%;
  text-align: center;
  overflow: auto;
}

.my-interests h1 {
  text-shadow: 0 0 10px rgba(0,0,0,0.9);
  color: white;
  text-decoration-line: underline;
  font-size: 120%;
  margin-left: 20px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.interest-descriptions {
  float: right;
  width: 50%;
  height: 90vh;
}

.interest-descriptions p {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
  font-size: 22px;
  text-decoration-line: none;
  text-align: center;
  color: rgb(68,132,206);
  z-index: 2;
}

.interest-images img {
  max-height: 90vh;
  height: auto;
  position: relative;
  float: left;
  max-width: 50%;
}

/*.dimmed img{
  float: left;
  height: 100vh;
}*/
/*.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}*/

.sports, .traveler, .developer {
  height: 100vh;
}
