html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }

 body {
     font-family: 'Open Sans';
     color: white;
     min-height: 100%;
 }

 body.landing {
     background-color: rgb(217, 217, 217);
 }

 .navbar {
     position: fixed;
     top: 0px;
     padding: 0.5rem;
     background-color: white;
     z-index: 9999;
 }

 .navbar .logo {
     left: 2rem;
     cursor: pointer;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
  float: right;
}

li a {
    display: block;
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.navs:hover {
    color: rgb(68,132,206);
}

.page-name {
  color: rgb(68,132,206);
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(217, 217, 217);
}

.my-likeness {
      position: relative;
      min-height: 600px;
      background-image: url(../assets/images/Nichpicture.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }

.my-likeness .nich-title {
     position: absolute;
     top: 40%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: center;
     font-size: 4rem;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
}

#job-title {
   top: 50%;
   font-size: 2rem;
 }

.travel-photos {
  height: 265px;
}

.travel-photos .scenery {
  overflow: auto;
  float: left;
  height: 25%;
  width: 25%;
  margin: 1rem;
  transform: translate(35%, 0%);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.4), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.scenery:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.portfolio-item {
  background-color: rgb(217, 217, 217);
  height: 400px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
