.bwWrapper {
  overflow: auto;
  float: left;
  position: relative;
  width: 33%;
  display:block;
}

.bwWrapper img {
  width: 100%;
}

.portfolio-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.000006);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.bwWrapper:hover .portfolio-description {
  visibility: visible;
  opacity: 1;
}
